.mail {
  padding: 57px 0 77px;
  /* .mail__wrapper */
  &__wrapper {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
  }
  /* .mail__about */
  &__about {
    margin-bottom: 37px;
  }
  /* .mail__text */
  &__text {
    margin-bottom: 51px;
  }
}
